@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

//初回フォーム

.singleshot_form{
	display: flex;
	min-height:100vh;
	background-color: #ffffea;
  .top_contents{
  	margin: 0 auto;
  	p {
      margin-top: 180px;
  	}
  	form{
  	  margin-top: 30px;
  	  color: #ec6d71;
  	  font-family: 'Noto Sans JP', sans-serif;
  	  .form-control{
        padding: 0.5em 1em;
        margin: 1em 0;
        color: #ff7d6e;
        background: #ffebe9;
        border-top: solid 10px #ff7d6e;
  	  }
  	  .btn{
  	  	margin-top: 10px;
  	  	margin-left: 110px;
  	  	background-color: #ffb2b2;
  	  }
  	}
  }
}


//2回目のフォーム

.edit_singleshot_form{
	display: flex;
	min-height:100vh;
	background-color: #ffffea;
  .edit_top_contents{
  	margin: 0 auto;
  	p {
      margin-top: 30px;
  	}
  	form{
  	  margin-top: 30px;
  	  color: #ec6d71;
  	  font-family: 'Noto Sans JP', sans-serif;
  	  .form-control{
        padding: 0.5em 1em;
        margin: 1em 0;
        color: #ff7d6e;
        background: #ffebe9;
        border-top: solid 10px #ff7d6e;
  	  }
  	  .btn{
  	  	margin-top: 10px;
  	  	margin-left: 110px;
  	  	background-color: #ffb2b2;
  	  }
  	}
  }
}



//3回・4回目のフォーム
.count_singleshot_form{
	display: flex;
	min-height:100vh;
	background-color: #ffffea;
  .count_top_contents{
  	margin: 0 auto;
  	p {
      margin-top: 30px;
  	}
  	form{
  	  margin-top: 30px;
  	  color: #ec6d71;
  	  font-family: 'Noto Sans JP', sans-serif;
  	  .form-control{
        padding: 0.5em 1em;
        margin: 1em 0;
        color: #ff7d6e;
        background: #ffebe9;
        border-top: solid 10px #ff7d6e;
  	  }
  	  .btn{
  	  	margin-top: 10px;
  	  	margin-left: 110px;
  	  	background-color: #ffb2b2;
  	  }
  	}
  }
}


// 円グラフ
.chart-top{
  margin:0 auto;
  font-family: 'Noto Sans JP', sans-serif;
  color: #f5b1aa;
  font-weight: 900;

  .chart-sum{
  	p{
  	  background-color: #ffffea;
      text-align:center;
      margin-top: 20px;
      margin-bottom: 50px;
  	}
  }
  .chart-cook{
  	p{
  	  background-color: #ffffea;
      text-align:center;
      margin-top: 20px;
      margin-bottom: 50px;
  	}
  }
  .chart-dish_washing{
  	p{
  	  background-color: #ffffea;
      text-align:center;
      margin-top: 20px;
      margin-bottom: 50px;
  	}
  }
  .chart-laundry{
  	p{
  	  background-color: #ffffea;
      text-align:center;
      margin-top: 20px;
      margin-bottom: 50px;
  	}
  }
  .chart-bath_washing{
  	p{
  	  background-color: #ffffea;
      text-align:center;
      margin-top: 20px;
      margin-bottom: 50px;
  	}
  }
  .chart-vacuum{
  	p{
  	  background-color: #ffffea;
      text-align:center;
      margin-top: 20px;
      margin-bottom: 50px;
  	}
  }
}


.form_part{
  text-align:center;
  .btn-square-pop {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #ffc184;/*背景色*/
    border-bottom: solid 2px #ffffc1;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    margin-bottom: 20px;
  }

  .btn-square-pop:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
}


